
h2{
    text-align: center;
}
table {
    margin: 0 auto;
    table-layout: fixed;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #c1c1c1;
}

td div, th div{
    display: inline-block;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000;
}
td, th{
    text-align: center;
    padding: 15px;
}
th span{
    padding-right: 10px;
}

th:nth-child(1){
    width: 15%;
}
th:nth-child(2){
    width: 35%;
}
th:nth-child(3){
    width: 35%;
}
th:nth-child(4){
    width: 15%;
}

tr:nth-child(odd){
    background: #c1c1c1;
}

.dialog-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    overflow: auto;
    align-content: center;
}
.dialog-content {
    border: 2px solid #000000;
    width: 200px;
    background: #ffffff;
    padding: 30px;
    margin: 50px auto;
}
.dialog-content input{
    margin-bottom: 10px;
}
.dialog-content form label{
    display: block;
    width: 100px;
}
.close{
    position: relative;
    top: -10px;
    left: 200px;
    cursor: pointer;
}
#add, #edit {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 3px;
    background: rgb(100,100,100);
    box-shadow: 0 -3px rgb(50,50,50) inset;
    transition: 1s;
}
#add:hover, #edit:hover { background: rgb(75,75,75); }
#add:active, #edit:active {
    background: rgb(100,100,100);
    box-shadow: 0 3px rgb(75,75,75) inset;
}
